extends ../layout

block content
    div.container-index
        div.masthead
            ul.nav.nav-pills.pull-right
                li
                    a(class="btn btn-block btn-success", href="/login") Sign In
            h3 Red Seal

        hr
        div.jumbotron
            img(align="center",src="public/img/redseal.png",border=0,width=120,height=90)
            h3 File Plugins
            p(style="font-size:12px") made easy with
            h2 Red Seal
            p(style="font-size:18px") Lean and easy Red Seal that helps the users to create file plugins within few clicks.
            a(class="btn btn-large btn-inverse", href="/register") Sign up now!
        hr
        div.footer.pull-right
            p Datonis Technologies &copy 2013




