script(src='public/libs/jquery/jquery.js')
script(src='public/libs/jquery/jquery.form.js')
script(src='public/libs/bootstrap/js/bootstrap.js')
script(src='public/libs/jquery/jquery.uniform.js')
script(src='public/libs/jquery/jquery.metadata.js')
script(src='public/libs/jquery/jquery.validate.js')
script(src='public/js/views/login.js')
