head
    meta(charset='utf8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href='/')
    title Red Seal
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='public/libs/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='public/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='public/css/style.css')
    script(src='public/libs/angular/angular.js')
    script(src='public/js/views/script.js')
