div(id="modal-recover", class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="modal-recoverLabel", aria-hidden="true")

    div(class="modal-body")
        form(id="form-recover", method="post")
            div(class="control-group")
                div(class="controls")
                    input(type="text", data-validate="{required: true, email:true, messages:{required:'Please enter field email', email:'Please enter a valid email address'}}", name="recover")
                    p(class="help-block helper-font-small") Enter your username or email address and we will send you a link to reset your password.

    div(class="modal-footer")
        button(class="btn", data-dismiss="modal", aria-hidden="true") Close
        input(type="submit", form="form-recover", class="btn btn-primary", value="Send reset link")

