extends ../layout
block content
    div.container-narrow
        div.row
            div.span4.offset4.well
                h3 Signup for Red Seal
                    br
                    form(method="post")#register-form
                        div.control-group
                            label.control-label Email
                            div.controls
                                input(type="text", class="input-block-level", data-validate="{required: true, email:true, messages:{required:'Please enter a valid email address', email:'Please enter a valid email address'}}", name="email", id="email", autocomplete="off")
                                - if(typeof(error) != 'undefined')
                                    - if(error == "email-taken")
                                        span.help-inline Username taken. Please try another
                        div.control-group
                            label.control-label Password
                            div.controls
                                input(type="password", class="input-block-level", data-validate="{required: true, minlength: 6, messages:{required:'Please enter a valid password', minlength:'Please enter at least 6 characters.'}}", name="password", id="password", autocomplete="off")
                        div.control-group
                            label.control-label Confirm Password
                            div.controls
                                input(type="password", class="input-block-level", data-validate="{required: true, equalTo: '#password', messages:{required:'Please confirm password', equalTo: 'Confirmation password does not match the password'}}", name="password_again", id="password_again", autocomplete="off")
                        div.control-group
                            div.controls
                                label#terms-of-user.checkbox I agree to the &nbsp;
                                    a(href="#") terms & conditions
                                    input(type="checkbox", checked='checked', name="remember_me", id="remember_me_yes")
                        div.control-group
                            div.controls
                                button(type="submit",class="btn btn-block btn-primary") Create Account
                        div.control-group
                            div.controls
                                a(type="submit",class="btn btn-block btn-inverse", href="/") Cancel

                p Already have an account? &nbsp;
                    a(href="/login", class="link", data-toggle="modal") Sign in